<%= render "layouts/nav_bar.html.erb" %>

<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>

  <div class="apparel-container">

  <div class="apparel_list">
<% @jewels[10..20].each do |jewelry| %>
<div class="list_item">
<%= link_to "/jewelry/#{jewelry.id}" do %>
<%= image_tag "#{jewelry.img_file}.jpg", {:class => "jewelry_picture"}%>
<p class="list-item-title"><%=jewelry.name %></p>
<p class="list-item-price"><%= number_to_currency(jewelry.price) %>
</p>
</div>
<%end%>
<%end%>
</div>
</div>

</div>


<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
