<%= render "layouts/nav_bar.html.erb" %>

<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>

  <div class="view-container">
<%= image_tag "#{@jewel.img_file}.jpg", {:class => "jewelry_view_picture"} %>
<div class="item-info">
  <p class="item"><%= @jewel.name%><p>
    <p style="font-size:25px;">
      <%= @jewel.description%>
    </p>
    <p style="font-size:30px;">
      <%= number_to_currency(@jewel.price) %>
    </p>
    <p style=margin:5px;font-size:25px;>
      Size & Quantity
    </p>

    <%= form_for :order_item, :url => add_to_cart_path(product_id: @jewel.id) do |f| %>
    <%= f.number_field :quantity, min: 1, max:1, placeholder: "QTY", class:"number_field"%>
  </br><%= f.submit "ADD TO CART", class:"addtocart"%>
    <%end%>


    <p>
      Shipping estimate: $3.00
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewel.bullet_1 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewel.bullet_2 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewel.bullet_3 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewel.bullet_4 %>
    </p>
</div>
  </div>

</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
