<div class="header">
<%=link_to root_path do%>
<div class="header-title-container">
  <p class="header-title">
    Chauncey AND Coco
  </p>
  <p class="header-subtitle">
    <%= image_tag 'logo.png' %>
    Handmade in HTX
    <%= image_tag 'logo.png' %>
  </p>
</div>
<%end%>
</div>

<div class="lookbook-container">

  <div class="sidebar">
    <ul>
      <li>
        <%= link_to collection_path do%>COLLECTION
        <%end%>
      </li>
      <li>
        <%=link_to products_path do%>APPAREL<%end%>
      </li>
      <li>
        <%=link_to gifts_path do %>GIFTS<%end%>
      </li>
      <li>
        <%=link_to jewels_path do%>JEWELRY<%end%>
      </li>
      <li>
        <%=link_to about_path do%>ABOUT US<%end%>
      </li>
      <li>
        <%=link_to contact_path do%>CONTACT US<%end%>
      </li>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
      </li>
    </ul>

  </div>

  <div class="about-container">
  <img src="/assets/stickers.jpg" alt=""/>
  <div class="about-text">
    <p style="margin-top:0px;">
    Chauncey and Coco is a collection of small batch handmade products that blend particular form and function,
    designed by a team of siblings based in Houston, Texas. Inspired by the rhythm of our city,
    we create everything with the hands that we are blessed with in the home that we share,
    and aim to give back as much as we can along the way.
    </p>

    <p>Live well and love yourself,</p>

    <p>Thanks for stopping by.</p>
  </div>

  </div>

</div>

<div class="footer-container">
  <div class="follow">
    <p> Follow us </p>
<p><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></p>
  </div>
<div class="footer">
  <%=link_to policies_path do%>Privacy Policy<%end%> | Terms of Use | Refunds & Exchanges | &copy; chaunceyandcoco.com All Rights Reserved
</div>

</div>
