<div class="header">
  <%=link_to home_path do%>Chauncey And Coco
  <p>
    Handmade in HTX
  </p><%end%>
</div>
<div class="lookbook-container">

  <div class="sidebar">
    <ul>
      <li>
        <%= link_to collection_path do%>COLLECTION
        <%end%>
      </li>
      <li>
        <%=link_to apparel_path do%>APPAREL<%end%>
      </li>
      <li>
        <%=link_to gifts_path do %>GIFTS<%end%>
      </li>
      <li>
        <%=link_to jewelry_path do%>JEWELRY<%end%>
      </li>
      <li>
        <%=link_to about_path do%>
        ABOUT US<%end%>
      </li>
      <li>
        <%=link_to contact_path do%>CONTACT US<%end%>
      </li>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
      </li>
    </ul>

  </div>
  <div class="view-container">
    <%= image_tag "#{@product.img_file}.jpg", {:class => "view_picture"} %>
    <div class="item-info">
      <p class="item"><%= @product.item%>
        <p>
          <p style="font-size:25px;">
            <%= @product.description%>
          </p>
          <p style="font-size:30px;">
            $<%= @product.price.to_i %>
          </p>
          <p style=margin:5px;font-size:20px;>
            Size
          </p>
          <select class="turnintodropdown" name="">
            <option value="" disabled selected>Select your Size</option>
            <% if @product.xs.to_i < 1 %>
            <%else%>
            <option value=xs>xs</option>
            <%end%>

            <% if @product.s.to_i < 1 %>
            <%else%>
            <option value=s>s</option>
            <%end%>

            <% if @product.m.to_i < 1 %>
            <%else%>
            <option value=m>m</option>
            <%end%>

            <% if @product.l.to_i < 1 %>
            <%else%>
            <option value=l>l</option>
            <%end%>

            <% if @product.xl.to_i < 1 %>
            <%else%>
            <option value=xl>xl</option>
            <%end%>

          </select>

          <p style=margin:5px;font-size:20px;>
            Quantity
          </p>

          <select>
    <option value="" disabled selected>Select your Quantity</option>
    <option value=1>1</option>
    <option value=1>2</option>
    <option value=1>3</option>
    <option value=1>4</option>
    <option value=1>5</option>
    </select>

          <div class="addtocart">
            ADD TO CART
          </div>
        </div>
      </div>

    </div>
    <div class="footer-container">
      <div class="follow">
        <p>
          Follow us
        </p>
        <p>
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
        </p>
      </div>
      <div class="footer">
        <%=link_to policies_path do%>Privacy Policy<%end%>
        | Terms of Use | Refunds & Exchanges | &copy; chaunceyandcoco.com All Rights Reserved
      </div>

    </div>
