<div class="header">
  <%=link_to root_path do%>
  <div class="header-title-container">
    <p class="header-title">
      Chauncey AND Coco
    </p>
    <p class="header-subtitle">
      <%= image_tag 'logo.png' %>
      Handmade in HTX
      <%= image_tag 'logo.png' %>
    </p>
  </div>
  <%end%>
</div>
<div class="lookbook-container">

  <div class="sidebar">
    <ul>
      <li>
        <%= link_to collection_path do%>COLLECTION
        <%end%>
      </li>
      <li>
        <%=link_to products_path do%>APPAREL<%end%>
      </li>
      <li>
        <%=link_to gifts_path do %>GIFTS<%end%>
      </li>
      <li>
        <%=link_to jewels_path do%>JEWELRY<%end%>
      </li>
      <li>
        <%=link_to about_path do%>
        ABOUT US<%end%>
      </li>
      <li>
        <%=link_to contact_path do%>CONTACT US<%end%>
      </li>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
      </li>
    </ul>

  </div>
  <div class="apparel-container">
    <div class="page-header">
    <img src="/assets/city.jpg" alt="" class="apparel-image-header"/>
    <p class="image-header-title">
      APPAREL
    </p>
</div>
    <div class="apparel_list">
      <% @products.each do |product| %>
      <div class="list_item">
        <%= link_to "/apparel/#{product.pid}" do %>
        <%= image_tag "#{product.img_file}.jpg", {:class => "shirts_picture"}%>
        <p class="list-item-title"><%=product.item %></p>
        <p class="list-item-price"><%= number_to_currency(product.price.to_i) %></p>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>

</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%>
    &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>

<img src="assets/loading.gif" id="loading" class="hidden">
<script>
  document.getElementById("loading").className = "visible";
  var hide = function () {
    document.getElementById("loading").className = "hidden"
  };
  var oldLoad = window.onload;
  var newLoad = oldLoad
    ? function () {
      hide.call(this);
      oldLoad.call(this)
    }
    : hide;
  window.onload = newLoad;
</script>
