<%= render "layouts/nav_bar.html.erb" %>
<div class="lookbook-container">

<%= render "layouts/sidebar.html.erb" %>
  <div class="apparel-container">

    <div class="apparel_list">
      <% @products.limit(6).each do |product| %>
      <div class="list_item">
        <%= link_to "/apparel/#{product.id}" do %>
        <%= image_tag "#{product.img_file}.jpg", {:class => "shirts_picture"}%>
        <p class="list-item-title"><%=product.name %></p>
        <p class="list-item-price"><%= number_to_currency(product.price.to_i) %></p>
      <%end%>
      </div>
      <%end%>
    </div>
  </div>

</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%>
    &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
