<%= render "layouts/nav_bar.html.erb" %>

<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>


  <div class="img-grid">

    <div class="column">
      <img src="/assets/lb5.jpg" alt=""/>
      <img src="/assets/bike-wide.jpg" alt=""/>
      <img src="/assets/agatha2.jpg" alt="" />
      <%= image_tag 'lb3.jpg' %>
    </div>

    <div class="column">
      <img src="/assets/slider2.jpg" alt=""/>
      <img src="/assets/lb2.jpg" alt=""/>
      <img src="/assets/greenwall.jpg" alt="" />
      <%= image_tag 'slider3.jpg' %>
    </div>

    <div class="column">
      <img src="/assets/mexican2.jpg" alt=""/>
      <img src="/assets/slider1.jpg" alt=""/>
      <img src="/assets/slider4.jpg" alt="" />
      <%= image_tag 'moss2.jpg' %>
    </div>

  </div>

</div>
<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
