<div class="header">
  <%=link_to home_path do%>Chauncey And Coco
  <p>
    Handmade in HTX
  </p><%end%>
</div>
<div class="lookbook-container">

<div class="sidebar">
  <ul>
    <li>
      <%= link_to collection_path do%>COLLECTION
      <%end%>
    </li>
    <li>
      <%=link_to apparel_path do%>APPAREL<%end%>
    </li>
    <li>
      <%=link_to gifts_path do %>GIFTS<%end%>
    </li>
    <li>
      <%=link_to jewelry_path do%>JEWELRY<%end%>
    </li>
    <li>
      <%=link_to about_path do%>
      ABOUT US<%end%>
    </li>
    <li>
      <%=link_to contact_path do%>CONTACT US<%end%>
    </li>
    <li>
      <%=link_to policies_path do%>POLICIES<%end%>
    </li>
    <li>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
    </li>
  </ul>

</div>

<div class="img-grid">
  <div class="column">
    <img src="/assets/lb5.jpg" alt="" />
    <img src="/assets/bike-wide.jpg" alt="" />
  </div>


  <div class="column">
    <img src="/assets/nida1.jpg" alt="" />

    <img src="/assets/lb2.jpg" alt="" />
  </div>
  <div class="column">
    <img src="/assets/lb4.jpg" alt="" />
    <img src="/assets/colorwall.jpg" alt="" />

  </div>
</div>

</div>
<div class="footer-container">
  <div class="follow">
    <p> Follow us </p>
<p><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></p>
  </div>
<div class="footer">
  <%=link_to policies_path do%>Privacy Policy<%end%> | Terms of Use | Refunds & Exchanges | &copy; chaunceyandcoco.com All Rights Reserved
</div>

</div>
