<div class="header">
<%=link_to root_path do%>
<div class="header-title-container">
  <p class="header-title">
    Chauncey AND Coco
  </p>
  <p class="header-subtitle">
    <%= image_tag 'logo.png' %>
    Handmade in HTX
    <%= image_tag 'logo.png' %>
  </p>
</div>
<%end%>
</div>
<div class="lookbook-container">

  <div class="sidebar">
    <ul>
      <li>
        <%= link_to collection_path do%>COLLECTION
        <%end%>
      </li>
      <li>
        <%=link_to products_path do%>APPAREL<%end%>
      </li>
      <li>
        <%=link_to gifts_path do %>GIFTS<%end%>
      </li>
      <li>
        <%=link_to jewels_path do%>JEWELRY<%end%>
      </li>
      <li>
        <%=link_to about_path do%>
        ABOUT US<%end%>
      </li>
      <li>
        <%=link_to contact_path do%>CONTACT US<%end%>
      </li>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
      </li>
    </ul>

  </div>
  <div class="contact-container">
    <p style="font-weight:bold; margin-bottom:50px;font-family:Helvetica">Holla at us.</p>
    <p class="contact-p">We are happy to hear from our customers and any visitors to the site.</p>
    <p class="contact-p">chaunceyandcoco@gmail.com</p>
    <p class="contact-p">We'll be in touch</p>
  </div>
</div>
<div class="footer-container">
  <div class="follow">
    <p> Follow us </p>
<p><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></p>
  </div>
<div class="footer">
  <%=link_to policies_path do%>Privacy Policy<%end%> | Terms of Use | Refunds & Exchanges | &copy; chaunceyandcoco.com All Rights Reserved
</div>

</div>
