<div class="header">
  <%=link_to root_path do%>
  <div class="header-title-container">
    <p class="header-title">
      Chauncey AND Coco
    </p>
    <p class="header-subtitle">
      <%= image_tag 'logo.png' %>
      Handmade in HTX
      <%= image_tag 'logo.png' %>
    </p>
  </div>

  <%end%>
  <div class="home-nav">
    <p>
      <%= link_to collection_path do%>COLLECTION<%end%>
    </p>
    <p>
      <%=link_to products_path do%>APPAREL<%end%>
    </p>
    <p>
      <%=link_to gifts_path do %>GIFTS<%end%>
    </p>
    <p>
      <%=link_to jewels_path do%>JEWELRY<%end%>
    </p>
    <p>
      <%=link_to about_path do%>ABOUT US<%end%>
    </p>
    <p>
      <%=link_to contact_path do%>CONTACT<%end%>
    </p>
    <p>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
    </p>
  </div>
</div>

<div class="my-slider">
  <ul>
    <li><img src="/assets/bike-wide.jpg" alt=""/></li>
    <li><img src="/assets/slider2.jpg" alt=""/></li>
    <li><img src="/assets/slider3.jpg" alt=""/></li>
    <li><img src="/assets/slider4.jpg" alt=""/></li>
    <li><img src="/assets/slider1.jpg" alt=""/></li>
  </ul>
  <p class="slide-notify">
    Press <i class="fa fa-chevron-left" aria-hidden="true"></i> & <i class="fa fa-chevron-right" aria-hidden="true"></i> for Slider
  </p>
</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>

</div>

<script>
  jQuery(document).ready(function ($) {
    $('.my-slider').unslider();
  });
</script>
