<div class="header">
  <%=link_to root_path do%>
  <div class="header-title-container">
    <p class="header-title">
      <%= image_tag 'logo.png' %>  CHAUNCEY AND COCO   <%= image_tag 'logo.png' %>
    </p>

  </div>

  <%end%>

  <div class="home-nav">
    <p>
      <%= link_to collection_path do%>COLLECTION<%end%>
    </p>
    <p>
      <%=link_to products_path do%>APPAREL<%end%>
    </p>
    <p>
      <%=link_to gifts_path do %>GIFTS<%end%>
    </p>
    <p>
      <%=link_to jewels_path do%>JEWELRY<%end%>
    </p>
    <p>
      <%=link_to about_path do%>ABOUT US<%end%>
    </p>
    <p>
      <%=link_to contact_path do%>CONTACT<%end%>
    </p>
    <p>
      <%= link_to cart_path do %><i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART) <%end%>
    </p>
  </div>
</div>

<div class="automatic-slider">
  <ul>
    <li><%= image_tag 'bike-wide.jpg'%></li>
    <li><%= image_tag 'slider2'%></li>
    <li><%= image_tag 'slider3'%></li>
    <li><%= image_tag 'slider4'%></li>
    <li><%= image_tag 'slider1'%></li>
  </ul>

</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%>
    &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>

</div>
<script>

jQuery(document).ready(function ($) {
  $('.automatic-slider').unslider({autoplay: true, arrows: false});
});
</script>
