<div class="header">
  <%=link_to home_path do%>Chauncey And Coco
  <p>
    Handmade in HTX
  </p><%end%>
</div>
<div class="lookbook-container">

  <div class="sidebar">
    <ul>
      <li>
        <%= link_to collection_path do%>COLLECTION
        <%end%>
      </li>
      <li>
        <%=link_to apparel_path do%>APPAREL<%end%>
      </li>
      <li>
        <%=link_to gifts_path do %>GIFTS<%end%>
      </li>
      <li>
        <%=link_to jewelry_path do%>JEWELRY<%end%>
      </li>
      <li>
        <%=link_to about_path do%>
        ABOUT US<%end%>
      </li>
      <li>
        <%=link_to contact_path do%>CONTACT US<%end%>
      </li>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>(CART)
      </li>
    </ul>

  </div>
  <div class="view-container">
<%= image_tag "#{@jewelry.img_file}.jpg", {:class => "view_picture"} %>
<div class="item-info">
  <p class="item"><%= @jewelry.item%><p>
    <p style="font-size:25px;">
      <%= @jewelry.description%>
    </p>
    <p style="font-size:30px;">
      <%= number_to_currency(@jewelry.price.to_i) %>
    </p>
    <p style=margin:5px;font-size:25px;>
      Quantity
    </p>

    <select class="turnintodropdown" name="">
    <option value="" disabled selected>Select your option</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    </select>


<div class="addtocart">
      ADD TO CART
    </div>
    <p>
      Shipping estimate: $3.00
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewelry.bullet_1 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewelry.bullet_2 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewelry.bullet_3 %>
    </p>
    <p style="font-size:15px;">
      &#8226;<%= @jewelry.bullet_4 %>
    </p>
</div>
  </div>

</div>
<div class="footer-container">
  <div class="follow">
    <p> Follow us </p>
<p><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></p>
  </div>
<div class="footer">
  <%=link_to policies_path do%>Privacy Policy<%end%> | Terms of Use | Refunds & Exchanges | &copy; chaunceyandcoco.com All Rights Reserved
</div>

</div>
