<%= render "layouts/nav_bar.html.erb" %>


<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>

  <div class="view-container">
    <div class="view-image-container">
      <%= image_tag "#{@product.img_file}.jpg", {:class => "shirts_view_picture"} %>
    </div>
    <div class="item-info">
      <p class="item"><%= @product.name%>
        <p>
          <p style="font-size:25px;">
            <%= @product.description%>
          </p>
          <p style="font-size:30px;">
            <%= number_to_currency(@product.price) %>
          </p>
          <p style=margin:5px;font-size:20px;>
            Size & Quantity
          </p>
          <%= form_for :order_item, :url => add_to_cart_path(product_id: @product.id) do |f| %>
          <%= f.select(:size, options_for_select(shirt_sizes, "S"))%>
          <%= f.number_field :quantity, min: 1, max:1, placeholder: "QTY", class:"number_field"%>
        </br><%= f.submit "ADD TO CART", class:"addtocart"%>
          <%end%>

          <p style=margin-bottom:3px;>
            Sizing Specs
          </p>
          <p style="margin:0 0 5px 0">
            &bull;<%=@product.bullet_1 %>
          </p>
          <p style="margin:0 0 5px 0">
            &bull;<%=@product.bullet_2 %>
          </p>
          <p style="margin:0 0 5px 0">
            &bull;<%=@product.bullet_3 %>
          </p>
          <p style="margin:0 0 5px 0">
            <% if @product.bullet_4.blank? %>
            <%else%>
            &bull;<%=@product.bullet_4 %>
            <%end%>
          </p>
          <p style="margin:0 0 5px 0">
            <% if @product.bullet_5.blank? %>
            <%else%>
            &bull;<%=@product.bullet_5 %>
            <%end%>
          </p>
          <p>
            <% if @product.bullet_6.blank? %>
            <%else%>
            &bull;<%=@product.bullet_6 %>
            <%end%>
          </p>
        </div>
      </div>

    </div>
    <div class="footer-container">
      <div class="follow">
        <p style=color:#888888>
          Follow Us
        </p>
        <p>
          <a href="http://instagram.com/chaunceyandcoco" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="footer">
        <%=link_to policies_path do%>POLICIES<%end%>
        &copy; chaunceyandcoco.com All Rights Reserved

      </div>

    </div>
